{% extends 'page_setup.html' %}
{% block page_title %} Product Upload {% endblock page_title %}

{% block body_content %}
{% load static %}

<div style="height:50px">

</div>
<div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-6 col-12 col-offset-3">
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                    {% load bootstrap %}
                    {{ productupdateform |bootstrap }}
                    <div class="d-flex justify-content-center ">
                        <input class="bc-white ml-2 loginbutton" type="submit" value="UPdate">
                    </div>
                    <div class="d-flex justify-content-center ">
                        
                    </div>
                    <div class="d-flex justify-content-center ">
                    </div>
                    
            </form>
        </div>
    </div>
    
</div>

{% endblock body_content %}